body{
    margin: 0;
}

header {
    padding: 16px;
    background-color: darkviolet;
    color: #ffffff;
    text-align: center;
    grid-area: header;
}

#menu {
    padding: 32px;
    background-color:plum;
    grid-area: menu;
}

nav{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-flow:column
}

#nav-ul {
    display: flex;
}

#nav-ul > li{
    padding:8px; 
    margin:16px;
}

body > header > nav > ul{
    list-style: none;
    text-decoration: none;
}

#main-content {
    padding: 32px;
    grid-area: main;
}

footer{
    padding: 16px;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    text-align: center;
    grid-area: footer;
}

#form{
    display:flex;
    text-align: left;
    grid-area:form;
    background-color: gold;
}

#grrrid{
    display: grid;
    grid-template-areas: 
    "header header"
    "menu main"
    "form form"
    "footer footer";
    grid-template-columns: 1fr 6fr;
}